.form {

@media (min-width: 768px) {
  width: 400px;
  margin-left: 50px;
}
}
.form__label--hidden {
  display: none;

}
.form__input {
  width: 100%;
  font-size: 0.8em;
  padding-left: 0.8em;
  height: em(40px);
  margin: 1em 0 1em 0;
  border: 0px;
  border-bottom: 5px solid $color-primary;

  &:focus {
    border-color: $color-secondary;
  }


}
