.container {
  @extend %centered;
  width: 80%;
  @include mq(med) {
    max-width: $g-cont-max-w;
  }
}

.grid__col {
  @include mq(med){
    @include g-columns;
  }
}

.grid__row {
  @extend %clearfix;
  margin-top: 2em;
	margin-bottom: 2em;
  @include flex(block, null, null, null)
}

.grid__col--3 {
  @include flex(flex, null, null, center)
}

[class^="grid__col--"] {
  @media (sm) {
    margin-top: em(12px);
    margin-bottom: em(12px);
  }
  @media (med) {
    @include doubly(percentage($g-gutter-width / $context));
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    &:last-of-type {
      float: right;
    }
  }
}

$grid-colors: (
	grid__col--12 : saturate($color-col12 , 10%),
	grid__col--8  : darken($color-col8 , 10%),
	grid__col--7  : saturate($color-col7 , 20%),
	grid__col--6  : darken($color-col6 , 10%),
	grid__col--4  : darken($color-col4 , 5%),
	grid__col--5  : saturate($color-col5 , 30%),
	grid__col--3  : saturate($color-col3 , 10%)
);

@each $value, $color in $grid-colors {
	.#{$value}.theme__colors {
		color: $white;
		@extend %centered;
		background-color: $color;
    border-radius: $br;
    padding: em(15px) em(30px);
    border: 0;
    margin-bottom: em(20px);
	}
}

@include mq(med) {
  .grid__row {
    @include flex(flex, null, null, space-between)
  }
  .grid__col--3 {
    margin-right: auto;
    align-self: center;
  }
  .grid__col--9 {
    margin-top: 1em;
    width: 100%;
  }
  .grid__col--12 {
    @include flex(flex, null, null, space-between)
  }
}
